*.egg
*.egg-info
*.bv
*.pyc
build
__pycache__
eggs
costs_per_candidate.csv
__pycache__/utils.cpython-38.pyc
__pycache__/utils_static.cpython-38.pyc
__pycache__/utils_optim.cpython-38.pyc
example.log
__pycache__/utils.cpython-38.pyc